section{
  display: block;
  background: #CFF;
  height:2000px;
  padding:60px;
  padding-left: 120px;
}

body{
  margin: 0;
  font: 40px Arial, Helvetica, sans-serif;
}

#one{
  background: #DCFFDC;
}
#two{
  background: #E8AE0C;
}
#three{
  background: #FF0000;
}
#four{
  background: #160CE8;
  color:#FFF;
}
#five{
  background: #0DFF96;
}

nav{
  position: fixed;
}

nav a{
  display: block;
  font-size: 12px;
  color:#FFF;
  text-align: center;
  background: #000;
  padding:10px;
  margin: 3px;
  font:Helvetica;
}